
.open-sans-normal  {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.secondary-bg{
    background: rgb(255, 248, 243);
}
.text_primary{
    color: #FD6E0A;
}
/* header area style */
.header{
   background-image: url(../img/developer.png), url(../img/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right;
}
/* nva style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20;
}
.dark-2{
    color: #474747;
}
nav ul {
    display: flex;
    align-items: center;
}
.brn-primary {
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 20px;
border-radius: 5px;
background: rgb(253, 110, 10);
border: none;
padding: 18px 35px;
}

/* banner style  */
.banner{
    margin: 0 35px 0 200px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;

    
    
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;

}
.banner-title{
    font-weight:bold;
    font-size: 85px;
}
.banner-description {
color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.banner-profile-pic{
    width: 584px;
height: 676px;
left: 978px;
right: 38px;
top: 161px;
bottom: 3419px;
}

/* section area style */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
} 
.section-center{
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
}
/* main style */
.main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About style */
.about {
    border-radius: 10px;
    padding: 130opx 150px;
    text-align: center;
}
.item-descripion {
    font-weight: 600;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
/* section area style  */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* footer area style */
footer {
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 44px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 22px;
    border: none;
}



/* responsive media query */
/* @media screen and (max-width:576px){
    .skills-container {
        flex-direction: column;
    }
} */

@media screen and (max-width: 576px) {
    .skills-container, 
    .resume-container,
     footer,
     .banner,
     nav,
     nav > ul,
     .about-items{
        flex-direction: column;
    }
    footer, .about{
        padding: 20px;
    }
    .banner{
        margin: 20px;
    }
    nav > ul {
        gap: 20px;
    }
    .banner-profile-pic{
        width: 100%;
    }
    .footer-colum{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
    .banner{
        margin: 10px;
    }
    .header {
        background-image: none;
    }
    .brn-primary{
        margin-bottom: 10px;
    }
}